<main style="margin-top: 4em;" role="main">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="gallery-tab" data-bs-toggle="tab" href="#gallery" role="tab"
                    aria-controls="gallery" aria-selected="false">Gallery</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                    aria-controls="reviews" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                    <div class="profile">     <!-- profile view .get start here  -->
                        <div class="profile-image">
                            <img class="rounded-circle"
                                src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                                alt="">
                            <img class="rounded-circle" src="<%= designer.img %>" alt="">
                        </div>
                        <div class="profile-contant">
                            <div>
                                <h1 class="profile-user-name"><%= designer.username %> </h1>
                                <button href="editDesignerProfile" class="btn profile-edit-btn">Edit Profile</button>
                            </div>

                            <div class="profile-stats">
                                <ul>
                                    <li><span class="profile-stat-count"><%= designer.numpost %> </span> posts</li>
                                    <li><span class="profile-stat-count"><%= designer.followers %></span> followers</li>
                                    <li><span class="profile-stat-count"><%= designer.numfollowing %></span> following</li>
                                </ul>
                            </div>

                            <div class="profile-bio">
                                <p><span class="profile-real-name"><%= designer.namefull %></span></p>
                                <p><%= designer.bio %> 📷✈️🏕️</p>
                            </div>
                        </div>
                    </div>
<!-- profile view .get start here  -->
                </div>
            </div>
            <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                <div class="container">

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Designer</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Designer</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Designer</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <div class="row review">
                    <div class="row">
                        <div class="col-lg-9 review-header">
                            <h2>Designer</h2>
                        </div>
                        <div class="col-lg-3">
                            <div class="ratingBig">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <button type="button" class="btn btn-dark add-review left">Add review</button>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <form action="/designer" method="POST">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    <h5 class="card-title">

                                    </h5>
                                </div>
                                <textarea name="commend" placeholder="Write your commend..."></textarea>

                                <button type="submit">commend</button>

                            </form>
                        </div>
                    </div>

                    <% comment.forEach(ele=> { %>

                        <div class="card">
                            <div class="card-body">

                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    <h5 class="card-title">
                                        <%= ele.fan %>
                                    </h5>
                                </div>

                                <p class="card-text">
                                    <%= ele.content %>
                                </p>




                            </div>
                        </div>

                        <% }); %>

                </div>
            </div>
        </div>

        <!-- single post -->
        <!-- add class collapse -->
        <div class="container " id="singlePost">
            <div class="post">
                <div class="post-image">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                        alt="">
                </div>

                <div class="post-description">
                    <h2>Designer</h2>
                    <p class="p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️ <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️<br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️ <br></p>
                </div>
            </div>
        </div>


</main>