<head>
    <link rel="stylesheet" href="../../css/designer.css">
    <link rel="stylesheet" href="../../css/test.css">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
</head>
<main role="main" class="designer-wrapper">

    <!-- fan profile -->
    <div class="container">
        <div class="profile center-element mb-5">
            <!-- profile view .get start here  -->
            <div class="profile-image">
                <% if (fan.image=="" ){ %>
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                        alt="">
                    <% } else { %>
                        <img src="<%= fan.image %>" alt="">
                        <% } %>
            </div>

            <!-- desiner profile -->
            <div class="row profile-contant align-self-center">
                <h1 class="profile-user-name">
                    <%= fan.name %>
                </h1>


                <button href="editDesignerProfile" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#EditProfileModal" data-bs-whatever="@getbootstrap">Edit
                    Profile</button>



            </div>
        </div>
    </div>

    <!-- end -->

    <div class="container">
        <div class="row">
            <div class="row mt-3 mb-3">

                <form class="form-inline mx-sm-3 mb-2 flex-row" action="/search" method="POST">
                    <div class="col-lg-6">
                        <input class="form-control " type="text" placeholder="Search" aria-label="Search" name="Search">
                    </div>

                    <div class="col">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </form>

                <select class="mdb-select md-form" searchable="Search here..">
                    <option value="" disabled selected>Choose your country</option>

                    <option value="1">USA</option>
                  </select>

            </div>
            <!-- <div class="col cols-md-3">
                    <form class="form-inline mx-sm-3 mb-2 flex-row" action="/" method="POST">
                        <input class="form-control " type="text" placeholder="Search" aria-label="Search"
                            name="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div> -->
            <!-- <div class="col-4">
                    <button class="btn profile-edit-btn" data-bs-toggle="modal" data-bs-target="#NewModal"
                        data-bs-whatever="@new">New
                        Post</button>
                </div> -->
        </div>

        <div class="row d-inline-flex">
            <% posts.forEach(ele=> { %>
                <div class="col h-100 cols-md-3">
                    <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
                        <img src="<%= ele.image %> " class="card-img-top " alt="...">
                        <div class="card-body">

                            <h5 class="card-title">
                                <%= ele.designer %>
                            </h5>

                            <p class="card-text">
                                <%= ele.content %>
                            </p>
                        </div>
                    </div>
                </div>
                <% }); %>



        </div>

    </div>

</main>